.App {
  .header {
    background-color: rgb(83, 81, 81);
    padding: 12px 10px;

    a {
      color: white;
      font-weight: bold;
      text-decoration: none;
    }
  }
  .main {
    padding: 20px;
    .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
    }
  }
}
